VITE_GOLFER_APP_STORE_URL=
VITE_GOLFER_ANDROID_APK_URL=
VITE_CADDIE_APP_STORE_URL=
VITE_CADDIE_ANDROID_APK_URL=
VITE_ADMIN_WEB_URL=https://nobogeyofficial.com/login
VITE_CLUB_CONTACT_EMAIL=nobogeyofficial@gmail.com
