VITE_GOLFER_APP_STORE_URL=
VITE_GOLFER_GOOGLE_PLAY_URL=
VITE_CADDIE_APP_STORE_URL=
VITE_CADDIE_GOOGLE_PLAY_URL=
VITE_ADMIN_WEB_URL=http://localhost:8080/login
VITE_CLUB_CONTACT_EMAIL=hello@nobogey.app
